@import '~reset-css/reset';

body {
  color: white;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}
