@import '../../../styles/variables';

@media (min-width: $tablet) {
  .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 37.5rem;
    height: 3.125rem;

    .underline {
      z-index: -1;
      position: absolute;
      background-color: white;
      top: 0;
      left: 0;
      width: 0;
      height: 2px;
      transition: .3s;
    }

    .item {
      flex: 1 1 0;
      height: 3.125rem;

      .item__name {
        height: 100%;
        line-height: 3.125rem;
        text-align: center;
        letter-spacing: .1rem;
        cursor: pointer;

        font: {
          size: 1.25rem;
          family: Arial, sans-serif;
          weight: 700;
        };
      }

      .item__contents {
        text-align: center;
        align-items: center;
        display: none;
      }

      &:hover .item__contents{
        display: block;
      }

      .content {
        height: 3.125rem;
        line-height: 3.125rem;
        align-items: center;
      }
    }
  }
}

@media (max-width: $tablet) {
  .main-menu {
    display: none;
  }
}